@import 'tailwindcss';

@theme {
    --primary: #002259;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.container {
    @apply w-full px-4 py-5 sm:px-20 lg:px-25;
}
