@import 'tailwindcss';

@theme {
    --primary: #002259;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.container {
    @apply my-5 w-full px-4 py-5 sm:px-20 lg:my-10 lg:px-25;
}

.title {
    @apply mb-5 text-2xl font-bold text-blue-900;
}

.subTitle {
    @apply text-xl font-light text-blue-900;
}
